@model IEnumerable<CostsAnalyse.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="container">
    @foreach (var item in Model)
    {
        <div class="item">
            <div>

                @Html.DisplayFor(modelItem => item.Name)<br>
                <a asp-action="Search" asp-controller="Search" asp-route-id="@item.Id">
                    <img src=@Html.DisplayFor(modelItem => item.UrlImage)>
                </a><br>
                @Html.DisplayFor(modelItem => item.Price[item.Price.Count - 1].Cost);
                @if (item.Price[item.Price.Count - 1].IsDiscont)
                {

                    @Html.DisplayFor(modelItem => item.Price[item.Price.Count - 1].OldCost);
                }
            </div>
        </div>
    }
</div> 