@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home/index/content.css" />
<div class="promote">   <h1>Ласково просимо до нашого сервісу</h1>

    <ul>
    <li>Будь завжди в курсі актуальних цін та знижок</li>
   <li>Та при цьому не будь обманутим</li>
   <li>Залучись максимальною прозорістю</li>
   </ul>
   <div class="go_to_href">
  
   <div style="position:relative;height:100px">
        <a asp-controller="products" asp-action="Index">GET OVER HERE</a><br>
   <img src="images/get_over_div.png">
   </div>
   </div>
   </div>
 